<ion-header>
  <ion-navbar>
    <ion-title>      
      Register Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">

    <!-- slide 0 - Nhập username -->
    <ion-slide>
      <div class="full-login">
        <div class="logo-login">
          <div>
            <a href="/"><img src="/assets/imgs/mobi.png"></a>
          </div>
        </div>
        <form (ngSubmit)="confirm()" [formGroup]="loginForm">
          <ion-item>
            <ion-label floating>Nhap user(*)</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-label *ngIf="loginForm.controls?.username?.invalid && loginForm.controls?.username?.touched">
            <span class="error">Vui lòng nhập username</span>
          </ion-label>
          <ion-buttons end>
            <button ion-button type="submit" icon-end round [disabled]="loginForm.controls?.username?.invalid">
              Xác nhận
              <ion-icon name="share-alt"></ion-icon>
            </button>
          </ion-buttons>
        </form>
      </div>
    </ion-slide>

    <!-- slide 1 - Đăng ký thông tin-->
    <ion-slide>
      <div class="full-login">
        <div class="logo-login">
          <div><a href="/">
              <img src="/assets/imgs/mobifone.jpg"></a>
          </div>
        </div>
        <div class="box-login">
          <div class="form-login">
            <div class="title-dv">Dịch vụ VCB-iB@nking</div>
            <form (ngSubmit)="nhapThongTin()" [formGroup]="registerForm">
              <div class="control-login">
                <ion-item>
                  <ion-label floating>Nhập password(*)</ion-label>
                  <ion-input type="text" formControlName="password"></ion-input>
                </ion-item>
                <ion-label *ngIf="registerForm.controls?.password?.invalid && registerForm.controls?.password?.touched">
                  <span class="error">Vui lòng nhập password</span>
                </ion-label>
              </div>
              <div class="control-login">
                <ion-item>
                  <ion-label floating>Nhập Fullname(*)</ion-label>
                  <ion-input type="text" formControlName="fullname"></ion-input>
                </ion-item>
                <ion-label *ngIf="registerForm.controls?.fullname?.invalid && registerForm.controls?.fullname?.touched">
                  <span class="error">Vui lòng nhập fullname</span>
                </ion-label>
              </div>
              <div class="control-login">
                <ion-item>
                  <ion-label floating>Nhập Email(*)</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <ion-label *ngIf="registerForm.controls?.email?.invalid && registerForm.controls?.email?.touched">
                  <span class="error">Vui lòng nhập email</span>
                </ion-label>
              </div>
              <div class="control-login">
                <ion-item>
                  <ion-label floating>Nhập Số điện thoại(*)</ion-label>
                  <ion-input type="text" formControlName="phone"></ion-input>
                </ion-item>
                <ion-label *ngIf="registerForm.controls?.phone?.invalid && registerForm.controls?.phone?.touched">
                  <span class="error">Vui lòng nhập số điện thoại</span>
                </ion-label>
              </div>
              <div class="control-login">
                <div style="float:left; width:100%">
                  <ion-buttons end>
                    <button ion-button type="submit" icon-end round [disabled]="registerForm.controls?.password?.invalid || registerForm.controls?.fullname?.invalid || registerForm.controls?.email?.invalid || registerForm.controls?.phone?.invalid">
                      Nhập
                      <ion-icon name="share-alt"></ion-icon>
                    </button>
                  </ion-buttons>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ion-slide>

    <!-- slide 2 nhap chu ky -->
    <ion-slide>
      <canvas-draw #canvas></canvas-draw>
      <input value="{{ canvas.img_src }}" />
      <button ion-button (click)="register(canvas.img_src)" icon-end round id="dangky">
        Đăng ký
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>