<ion-header>
  <ion-navbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">

    <!-- slide 0 - Đăng nhập -->
    <ion-slide>
      <div class="full-login">
        <div class="logo-login">
          <div>
            <a href="/"><img src="/assets/imgs/mobi.png"></a>
          </div>
        </div>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <ion-item>
            <ion-label floating>Nhap user(*)</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-label *ngIf="loginForm.controls?.username?.invalid && loginForm.controls?.username?.touched">
            <span class="error">Vui lòng nhập username</span>
          </ion-label>
          <ion-item>
            <ion-label floating>Nhap mat khau(*)</ion-label>
            <ion-input type="text" formControlName="password"></ion-input>
          </ion-item>
          <ion-label *ngIf="loginForm.controls?.password?.invalid && loginForm.controls?.password?.touched">
            <span class="error">Vui lòng nhập password</span>
          </ion-label>
          <ion-buttons end>
            <button ion-button type="submit" icon-end round [disabled]="loginForm.controls?.password?.invalid">
              Đăng nhập
              <ion-icon name="share-alt"></ion-icon>
            </button>
          </ion-buttons>
        </form>
      </div>
    </ion-slide>

    <!-- slide 1 - List User-->
    <ion-slide>
      <div *ngFor="let user of users">
        <h1>Họ tên: {{ user.fullname }}</h1>
        Chữ ký: <img src="{{ user.url_image }}" alt="{{ user.url_image }}" />
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>