page-login {
    body {
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-family: Arial, Tahoma;
        background: #FFF;
    }
    
    .full-login {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        padding-bottom: 30px;
    }
    
    .logo-login {
        background: #FFF;
        /*height: 157px;*/
        width: 100%;
        padding: 22px 0 25px 0;
    }
    
    .logo-login div {
        background: #FFF;
        display: block;
        /*height:80px;*/
        text-align: right;
        margin: 0 auto;
        width: 256px;
    }
    
    .logo-login img {
        width: 60%;
    }
    
    .box-login {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .box-login .form-login {
        width: 256px;
        margin: 0 auto;
        /*padding: 5%;*/
        background: #FFF;
        border-radius: 10px;
    }
    
    .box-login .form-login .title-dv {
        color: #58585b;
        font-family: Arial, Tahoma;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 15px;
        text-align: right;
    }
    
    .box-login .form-login .control-login {
        width: 100%;
        //padding: 7px 0 2px 0;
        //margin: 0 auto;
    }
    
    .box-login .form-login .control-login input {
        //width: 100%;
        //padding: 0 8px;
        border: 1px solid #00502f;
        //height: 40px;
    }
    
    .box-login .form-login .control-login .captcha-login {
        width: 55%;
        padding: 0;
        margin: 0;
        float: left;
    }
    
    .full-login .link-login {
        width: 256px;
        /*padding: 5% 7%;*/
        text-align: left;
        /* float: left; */
        font-size: 15px;
        margin: 0 auto;
    }
    
    .full-login .link-login div {
        padding: 0 5px;
    }
    
    .full-login .link-login img {
        padding-bottom: 10px;
    }
    
    .full-login .link-login ul li {
        line-height: 32px;
        width: 100%;
        padding-left: 32px;
        float: left;
    }
    
    .full-login .link-login ul li a {
        font-size: 15px;
    }
    
    .full-login .link-login .dgd {
        background: url("../../mobile/images/icon-dgd.png") no-repeat left;
    }
    
    .full-login .link-login .datn {
        background: url("../../mobile/images/icon-atm.png") no-repeat left;
    }
    
    .full-login .link-login .km {
        background: url("../../mobile/images/icon-khuyenmai.png") no-repeat left;
    }
    
    .full-login .link-login .dgd span,
    .full-login .link-login .datn span {
        border-bottom: 1px dotted #333;
        line-height: 32px;
        float: left;
        width: 100%;
    }
    
    .btn-dangnhap {
        background: #00502f;
        border: medium none;
        color: #fff;
        cursor: pointer;
        font-family: Arial, Tahoma;
        line-height: 35px;
        width: 100%;
        text-transform: uppercase;
    }
    
    .resetpass {
        width: 100%;
        text-align: center;
    }
    
    .resetpass a {
        color: #333;
        line-height: 32px;
    }
    
    .box-language {
        margin-bottom: 30px;
    }
    
    .line-doc {
        text-align: center;
    }
    
    .line-doc span {
        color: #8ec641;
    }
    
    .img-captcha {
        padding-left: 5px;
        padding-top: 3px;
        float: left;
    }
    
    .img-captcha #captchaImage {
        height: 25px !important;
        width: 70px !important;
    }
    
    input:-webkit-autofill {
        background-color: #FFF !important;
    }

    .error{
        color: red;
        font-style: italic;
    }
    #dangky{
        margin-bottom: 40px !important;
    }
}
